<h2>Your Dashboard</h2>

<p><a href="/events/new" class="btn btn-primary">Create New Event</a></p>

<h3>Your Submitted Events</h3>
<ul>
  {{#each createdEvents}}
    <li>
      <a href="/events/{{this._id}}">{{this.title}}</a>
      <span>on {{formatDate this.eventDate}} at {{this.startTime}}</span>
      <span class="status-{{this.status}}">Status: {{formatStatus this.status}}</span>
    </li>
  {{else}}
    <li>You haven't created any events yet.</li>
  {{/each}}
</ul>

<h3>Upcoming Events You RSVP'd To</h3>
<ul>
  {{#each upcoming}}
    <li>
      <a href="/events/{{this._id}}">{{this.title}}</a>
      <span>on {{formatDate this.eventDate}} at {{this.startTime}}</span>
    </li>
  {{else}}
    <li>No upcoming RSVPs.</li>
  {{/each}}
</ul>

<h3>Past Events You Attended</h3>
<ul>
  {{#each past}}
    <li>
      <a href="/events/{{this._id}}">{{this.title}}</a>
      <span>on {{formatDate this.eventDate}} at {{this.startTime}}</span>
    </li>
  {{else}}
    <li>No past events.</li>
  {{/each}}
</ul>

<h3>Your Bookmarked Events</h3>
<ul>
  {{#each bookmarks}}
    <li>
      <a href="/events/{{this._id}}">{{this.title}}</a>
      <span>on {{formatDate this.eventDate}} at {{this.startTime}}</span>
    </li>
  {{else}}
    <li>No bookmarks.</li>
  {{/each}}
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  li a {
    font-weight: bold;
    text-decoration: none;
    color: #2196F3;
  }
  
  li span {
    color: #666;
    margin-left: 10px;
  }
  
  .status-pending {
    font-style: normal;
    color: orange;
    margin-left: 10px;
  }
  .status-approved {
    font-style: normal;
    color: green;
    margin-left: 10px;
  }
  .status-rejected {
    font-style: normal;
    color: red;
    margin-left: 10px;
  }
  .status-requested_changes {
    font-style: normal;
    color: blue;
    margin-left: 10px;
  }
</style> 